services:
  gateway:
    build: ./gateway
    container_name: gateway
    expose:
      - "8080"
    depends_on:
      - backend
      - auth
      - users
    networks:
      - transcendence
  nginx-waf:
    build: ./nginx-waf
    container_name: nginx-waf
    ports:
      - "8000:80"
      - "8443:443"
    environment:
      - MODSECURITY=on
      - MODSEC_RULE_ENGINE=On
      - MODSEC_AUDIT_ENGINE=On
      - BLOCKING_PARANOIA=2
    depends_on:
      - gateway
    networks:
      - transcendence

  backend:
    build: ./backend
    container_name: backend
    expose: 
      - "9000"
    networks:
      - transcendence

  frontend:
    build: ./frontend
    container_name: frontend
    expose:
      - "80"
    networks:
      - transcendence

  users:
    build: ./users
    container_name: users
    volumes:
    - ./users/data:/app/data
    expose:
      - "9100"
    networks:
      - transcendence
    environment:
      - JWT_SECRET=${JWT_SECRET:-your-jwt-secret-key-change-in-production}


  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    command: redis-server --requirepass ${REDIS_PASSWORD:-redispassword}
    expose:
      - "6379"
    networks:
      - transcendence

  vault:
    image: hashicorp/vault:1.15
    container_name: vault
    restart: unless-stopped
    cap_add:
      - IPC_LOCK
    environment:
      VAULT_DEV_ROOT_TOKEN_ID: ${VAULT_TOKEN:-devtoken123}
      VAULT_DEV_LISTEN_ADDRESS: 0.0.0.0:8200
      VAULT_ADDR: http://127.0.0.1:8200
      VAULT_TOKEN: ${VAULT_TOKEN:-devtoken123}
    expose:
      - "8200"
    networks:
      - transcendence
  auth:
    build: ./auth
    container_name: auth
    volumes:
      - ./auth/data:/app/data
    expose:
      - "9200"
    depends_on:
      - vault
      - redis
    networks:
      - transcendence
    environment:
      - JWT_SECRET=${JWT_SECRET:-your-jwt-secret-key-change-in-production}
      - VAULT_ADDR=http://vault:8200
      - VAULT_TOKEN=${VAULT_TOKEN:-devtoken123}

networks:
  transcendence:
    name: transcendence
