x-healthchecks:
  interval: 30s
  timeout: 10s
  retries: 3
  nginx: &nginx-healthcheck
    test: ["CMD", "nginx", "-t"]
  prometheus: &prometheus-healthcheck
    test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://prometheus:9090/-/healthy || exit 1"]
  vault: &vault-healthcheck
    test: ["CMD-SHELL", "curl -s curl http://vault:8200/v1/sys/health | grep -q '\"initialized\":true' || exit 1"]
  grafana: &grafana-healthcheck
    test: ["CMD-SHELL", "wget --no-check-certificate --no-verbose --tries=1 --spider https://localhost:3301/api/health || exit 1"]
  gateway: &gateway-healthcheck
    test: ["CMD", "curl", "-f", "-s", "http://gateway:3000/gateway/health"]
  database: &database-healthcheck
    test: ["CMD", "curl", "-f",  "-s", "http://database:3003/health"]
  auth: &auth-healthcheck
    test: ["CMD", "curl", "-f",  "-s", "http://auth:3001/auth/health"]
  i18n: &i18n-healthcheck
    test: ["CMD", "curl", "-f", "http://i18n:3002/i18n/health"]
  users: &users-healthcheck
    test: ["CMD", "curl", "-f", "http://users:3004/users/health"]

services:

  gateway:
    image: gateway
    build:
      network: host
      context: gateway
      dockerfile: Dockerfile
    container_name: gateway
    ports: ["3000:3000"]
    networks: [transcendence-net]
    environment:
      VAULT_ADDR: http://vault:8200
      VAULT_TOKEN: root
    volumes:
      - ./data:/app/data
      - ./frontend:/app/frontend
      - ./gateway:/app/gateway
      - ./database:/app/database
      - ./auth:/app/auth
      - ./shared:/app/shared
      - ./users:/app/users
      - logs-data:/app/logs
    depends_on:
      vault:
        condition: service_healthy
      auth:
        condition: service_healthy
      i18n:
        condition: service_healthy
      database:
        condition: service_healthy
    healthcheck: *gateway-healthcheck
    restart: always

  database:
    image: database
    build:
      network: host
      context: database
      dockerfile: Dockerfile
    container_name: database
    ports: ["3003:3003"]
    networks: [transcendence-net]
    volumes:
      - ./data:/app/data
      - ./database:/app/database
      - ./shared:/app/shared
    healthcheck: *database-healthcheck
    restart: always

  auth:
    image: auth
    build:
      network: host
      context: auth
      dockerfile: Dockerfile
    container_name: auth
    ports: ["3001:3001"]
    networks: [transcendence-net]
    environment:
      VAULT_ADDR: http://vault:8200
      VAULT_TOKEN: root
    volumes:
      - ./data:/app/data
      - ./auth:/app/auth
      - ./frontend:/app/frontend
      - ./database:/app/database
      - ./gateway:/app/gateway
      - ./shared:/app/shared
      - ./users:/app/users
    depends_on:
      vault:
        condition: service_healthy
      database:
        condition: service_healthy
    healthcheck: *auth-healthcheck
    restart: always

  i18n:
    image: i18n
    build:
      network: host
      context: i18n
      dockerfile: Dockerfile
    container_name: i18n
    ports: ["3002:3002"]
    networks: [transcendence-net]
    volumes:
      - ./i18n:/app/i18n
      - ./shared:/app/shared
    healthcheck: *i18n-healthcheck
    restart: always

  users:
    image: users
    build:
      network: host
      context: users
      dockerfile: Dockerfile
    container_name: users
    ports: ["3004:3004"]
    networks: [transcendence-net]
    environment:
      VAULT_ADDR: http://vault:8200
      VAULT_TOKEN: root
    volumes:
      - ./database:/app/database
      - ./gateway:/app/gateway
      - ./auth:/app/auth
      - ./users:/app/users
      - ./shared:/app/shared
    healthcheck: *users-healthcheck
    restart: always

  nginx:
    image: nginx
    build:
      network: host
      context: nginx
      dockerfile: Dockerfile
    container_name: nginx
    ports: ["8443:443"]
    volumes:
      - logs-data:/var/log/nginx
    depends_on:
      - gateway
    healthcheck: *nginx-healthcheck
    networks: [transcendence-net]
    restart: always

  vault:
    image: vault
    container_name: vault
    build:
      network: host
      context: vault
      dockerfile: Dockerfile
    environment:
      VAULT_ADDR: http://vault:8200
      VAULT_TOKEN: root
    volumes:
      - ./nginx/ssl:/vault/ssl:ro
      - ./vault/policy.hcl:/vault/policies/policy.hcl:ro
    ports: ["8444:8200"]
    networks: [transcendence-net]
    healthcheck: *vault-healthcheck
    restart: always

  # prometheus:
  #   image: prometheus
  #   build:
  #     network: host
  #     context: prometheus
  #     dockerfile: Dockerfile
  #   container_name: prometheus
  #   volumes:
  #     - prometheus-data:/prometheus
  #     - logs-data:/logs:ro
  #     - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
  #   networks: [transcendence-net]
  #   healthcheck: *prometheus-healthcheck
  #   restart: always

  # grafana:
  #   image: grafana
  #   build:
  #     network: host
  #     context: grafana
  #     dockerfile: Dockerfile
  #   container_name: grafana
  #   user: root
  #   volumes:
  #     - grafana-data:/var/lib/grafana
  #     - logs-data:/var/log/grafana
  #     - ./nginx/ssl:/etc/grafana/ssl:ro
  #     - ./grafana/dashboards:/var/lib/grafana/dashboards
  #   ports: ["8445:3301"]
  #   networks: [transcendence-net]
  #   depends_on:
  #     prometheus:
  #       condition: service_healthy
  #   healthcheck: *grafana-healthcheck
  #   restart: always

volumes:
  logs-data:
    name: logs-data
  grafana-data:
    name: grafana-data
  prometheus-data:
    name: prometheus-data

networks:
  transcendence-net:
    name: transcendence-net
    driver: bridge
    enable_ipv6: false
